{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<link rel="stylesheet" href="/static/css/home.css">
  <div class= "Prakhar">
 
    <h1 align="center">Welcome to P-Mon</h1>
    <p align="center">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum 
      has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?</p>
    
  </div>
  <div align="center">
    <img src="../static/progress2.jpg" alt="My test image"/>
  </div>
  <h1 align="center">Announcements</h1>
{% endblock %}